/* syntax for importing a google font found at Stack Overflow: https://stackoverflow.com/questions/14676613/how-to-import-google-web-font-in-css-file */

@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

/* ---------------------------
Header and nav bar
------------------------------*/

header {
    margin: 30px auto 60px auto;
    width: 960px;
    height: 200px;
    background-color: #f8bc94;
    background-image: url(../img/salmon.png);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

header>h1 {
    font-size: 5em;
    font-family: 'Luckiest Guy', cursive;
    color: rgb(255, 242, 242);
    text-shadow: 0.5vw 0.5vw 0.5vw rgb(51, 2, 2);
    text-align: center;
    height: 80px;
    padding-top: 75px;
}

nav {
    background-color: #9eebe0;
    margin: 45px auto;
    width: 860px;
    height: 35px;
    border-radius: 20px;
}

nav>ul>li {
    float: left;
    text-align: center;
    width: 285px;
    font-size: 1.8em;
    font-weight: bold;
}

nav a {
    color: #374236;
}


/* ---------------------------
  General theme
  ------------------------------*/

body {
    background-color: #D27E60;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}

a {
    color: #ffc25e;
}


/* ---------------------------
Tables
 ------------------------------*/

table {
    background-color: rgb(252, 203, 157, 0.5);
    width: 960px;
    margin: auto;
    border-collapse: collapse;
    white-space: nowrap;
}

thead {
    background-color: rgb(252, 203, 157);
    border-bottom: 2px solid rgb(92, 35, 35);
}

tfoot {
    border-top: 1px solid rgb(92, 35, 35);
}

.left-edge {
    border-right: 1px solid rgb(92, 35, 35);
}

.right-edge {
    border-left: 1px solid rgb(92, 35, 35);
}

tr:nth-child(2n) {
    background-color: rgb(252, 203, 157, 0.2);
}

tr:hover,
tfoot:hover {
    background-color: rgb(252, 203, 157, 0.8);
}


/* ---------------------------
New Store Entry Form
 ------------------------------*/

form {
    /* fit content value found on CSS Tricks: https://css-tricks.com/almanac/properties/w/width/ */
    width: fit-content;
    margin: 50px auto;
    white-space: nowrap;
}

fieldset {
    /* border: 1px solid black; */
    border: none;
    background-color: rgb(252, 203, 157, 0.5);
    border-radius: 7px;
}

legend {
    text-align: right;
    padding: 3px 7px;
    /* border: 1px solid black; */
    background-color: rgb(252, 203, 157);
    border-radius: 5px;
}

label {
    text-align: right;
    display: block;
    margin-bottom: 3px;
}

td,
th {
    text-align: center;
    /* border: 1px solid black; */
    padding: 5px 10px;
}

.number {
    border-radius: 6px;
    width: 50px;
}

input:focus {
    box-shadow: 0 0 1px 2px rgb(124, 51, 51);
    background-color: rgb(252, 203, 157);
}


/* ---------------------------
 ------------------------------*/